In [1]:
# Import Required Libraries

In [2]:
import sqlite3
import pandas as pd
from datetime import datetime

In [3]:
# Create Database and Table

In [4]:
conn = sqlite3.connect("query_db.db")
cursor = conn.cursor()


cursor.execute("""
CREATE TABLE IF NOT EXISTS queries (
query_id INTEGER PRIMARY KEY AUTOINCREMENT,
mail_id TEXT,
mobile_number TEXT,
query_heading TEXT,
query_description TEXT,
status TEXT,
query_created_time TEXT,
query_closed_time TEXT
)
""")


conn.commit()
print("Database and table created successfully")

Database and table created successfully

In [5]:
# Insert Client Query (Client Side Simulation)

In [6]:
cursor.execute("""
INSERT INTO queries
(mail_id, mobile_number, query_heading, query_description, status, query_created_time)
VALUES (?, ?, ?, ?, ?, ?)
""", (
"test@gmail.com",
"9876543210",
"Login Issue",
"Unable to login to the application",
"Open",
datetime.now()
))


conn.commit()
print("Query inserted successfully")

Query inserted successfully

In [7]:
# View All Queries (Support Team View)

In [8]:
df = pd.read_sql("SELECT * FROM queries", conn)
df

,query_id,mail_id,mobile_number,query_heading,query_description,status,query_created_time,query_closed_time
0,1,test@gmail.com,9876543210,Login issue,Unable to login to the application,Closed,2025-12-14 13:59:32.123533,2025-12-14 14:07:28.221163
1,2,test@gmail.com,9876543210,Login Issue,Unable to login to the application,Open,2025-12-14 14:35:31.162607,None

In [9]:
# Close a Query (Support Team Action)

In [10]:
cursor.execute("""
UPDATE queries
SET status = ?, query_closed_time = ?
WHERE query_id = ?
""", (
"Closed",
datetime.now(),
1
))


conn.commit()
print("Query closed successfully")

Query closed successfully

In [11]:
# View Updated Queries

In [12]:
df = pd.read_sql("SELECT * FROM queries", conn)
df

,query_id,mail_id,mobile_number,query_heading,query_description,status,query_created_time,query_closed_time
0,1,test@gmail.com,9876543210,Login issue,Unable to login to the application,Closed,2025-12-14 13:59:32.123533,2025-12-14 14:37:21.577254
1,2,test@gmail.com,9876543210,Login Issue,Unable to login to the application,Open,2025-12-14 14:35:31.162607,None

In [13]:
# Close Database Connection

In [14]:
conn.close()
print("Database connection closed")

Database connection closed